*{
	margin: 0px;
    padding: 0px;
	
}

body{
	background-image: url("stars.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	
}

#labirint{
	position:absolute;
    top: 40%;
    left: 45%;
    width:500px;
    height:500px;
	
}

#maze{
	transform:scale(3.4);
}